
.product-card{
    margin: 0 1rem;
}

span{
   float: right;
}

.product-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.purchase-btn{
    float: right;
}

.products{
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.price-search{
    margin-block: 2rem;
}