<div class="product-list">
  <h1>{{title}}</h1>
  <form>
    <input 
    class="form-control price-search" 
    type="number" name="price" 
    [(ngModel)]="priceMax"
    placeholder="Search by price"
    >
  </form>
  <div class="alert alert-danger out-of-stock" *ngIf="count != 0">
    {{count}} products out of stock. <a routerLink="/product/outofstock">More Details...</a>
  </div>
  <div class="products">
    <div *ngFor="let product of list">
      <div class="product-card" *ngIf="product.price <= priceMax || priceMax==null">
        <div class="card" style="width: 18rem;" >
          <img src= {{product.picture}} class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">{{product.description}}</p>
            <p class="card-text">Price :{{product.price}}</p>
            <button class="btn btn-sm btn-danger" (click)="incrementLike(product)">
              {{product.nbrLike}} Likes
            </button>
            <button class="btn btn-sm btn-warning purchase-btn" 
              (click)="buyProduct(product)"
              [hidden]= "product.quantity == 0"
              >
              Add to Cart
            </button>
            <span *ngIf="product.quantity == 0">
              Out of Stock
            </span>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

