<h1>Add a Product :</h1> 
<form (ngSubmit)="addProduct()">
    <div class="form-group col-md-6">
        <label>Title :</label><input type="text" [(ngModel)]="newProduct.title" name="title" placeholder="Product Title" class="form-control">
    </div>
    <div class="form-group col-md-6">
        <label>Price :</label><input type="number" [(ngModel)]="newProduct.price" name="price" placeholder="Product Title" class="form-control">
    </div>
    <div class="form-group col-md-6">
        <label>Quantity :</label><input type="number" [(ngModel)]="newProduct.quantity" name="quantity" placeholder="Product Title" class="form-control">
    </div>
    <div class="form-group col-md-6">
        <label>Picture :</label><input type="number" [(ngModel)]="newProduct.picture" name="picture" placeholder="Product Title" class="form-control">
    </div>
    <div class="form-group col-md-6">
        <label>Description :</label><textarea type="text" [(ngModel)]="newProduct.description" name="description" placeholder="Product Title" class="form-control"></textarea>
    </div>
    <div class="form-group col-md-6">
        <button type="submit" class="btn btn-warning" >Add Product</button>
    </div>
</form>